$('#marc_button').html('<i class="far fa-file-alt"></i> MARC').removeClass('disabled').prop('disabled', false);
$.fancybox.open('<div class="responsive_fancybox" style="max-width: 1200px; width: 100%;"><%= escape_javascript(render 'marc_record') %></div>');
