<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-reponsive-item" src="https://www.youtube.com/embed/<%= @id %>?iv_load_policy=3&amp;modestbranding=1&amp;rel=0">
  </iframe>
</div>