<div class="row">
  <%= render 'search_box' %>
</div>
<div id="results">
  <%= render "results", search: @search %>
</div>
<div id="more_results">
  <% if @search.more_results == true %>
    <%= render "more_results", search: @search %>
  <% end %>
</div>
