<div class="row">
  <% if defined?(@search_title) %>
    <%= render 'canned_search_box' %>
  <% else %>
    <%= render 'search_box' %>
  <% end %>
</div>
<div id="results" class="row">
  <%= render "results", search: @search %>
</div>
<div id="more_results">
  <% if @search.more_results == true %>
    <%= render "more_results", search: @search %>
  <% end %>
</div>
