<div class="container">
  <div class="row mt-3">
    <h1>Signing-up for a library card is easy!</h1> 
  </div>
  <div class="row mb-3">
    <h3>Please fill out the form below to get started.</h3>
  </div>
  <form>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="middle_name">Middle Name <i>(optional)</i></label>
          <input type="text" class="form-control" id="middle_name" placeholder="Middle Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" id="last_name" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="street_address">Street Address</label>
          <input type="text" class="form-control" id="street_address" placeholder="Street Address">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="state">State</label>
          <select class="form-control" id="state">
              <%= render 'state_list' %>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="zip_code">Zip Code</label>
          <input type="text" class="form-control" id="zip_code" placeholder="Zip Code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="phone">Phone Number </label>
          <input type="text" class="form-control" id="phone" placeholder="XXX-XXX-XXXX">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="email">E-Mail Address <i>(optional)</i></label>
          <input type="text" class="form-control" id="email" placeholder="E-Mail Address">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="birth_date">Date of Birth</label>
          <br>
          <%= select_date Date.today,{prefix: :birth_date, start_year: 1900, end_year: Time.current.year, order: [:month, :day, :year]},{:class => 'date_picker'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="enews" checked>
          <label class="form-check-label" for="enews">
            Stay Connected! Receive news, events, and other email updates from your library
          </label>
        </div>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <h3>Agreement</h3>
    <p>I agree to comply with all of the rules of the Traverse Area District Library; to return all materials in a timely fashion and in good condition; to promptly pay all fines levied against me; and to give notice of any change in my name, address or phone number.</p>
    <p>TADL utilizes Unique Management Services to manage its delinquent accounts.</p>
    <p>If the applicant is a minor, this agreement must be completed by a parent or guardian responsible for the minor.</p>
  </div>
  <div class="row mt-3">
    <h3>Consent by the parent or guardian of a minor child</h3>
    <p>I am the parent/guardian of the above named child. I consent to my child obtaining a borrower's card through the Traverse Area District Library, and I accept full responsibility for return of library materials checked out by the above named child, as well as liability for payment for the child's overdue fines and damaged or lost materials. I understand that my child has full access to library materials, programs and services, and that his or her borrowing record is confidential to the extent required by Michigan law.</p>
    <p>I give consent to release of child's borrowing record to myself and other parents or guardians whose names I provide to library staff in person when completing this registration.</p>
  </div>
  <div class="row mb-3">
    <h4 id="data_error" style="color: red; display: none">Sorry: You did not fill out the required fields or provided invalid data. Please examine the fields in red and try again.</h4>
  </div>
  <div class="row mb-3">
    <h4 id="server_error" style="color: red; display: none">Sorry: There was a server error, please try again later or visit your local library to register.</h4>
  </div>
  <div class="row mb-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="register()">I agree - Register</button>
  </div>
<div>

<script>
  function register(){
    $('#data_error').css('display', 'none')
    $('#server_error').css('display', 'none')
    $('#first_name').css('border', '')
    $('#last_name').css('border', '')
    $('#street_address').css('border', '')
    $('#city').css('border', '')
    $('#state').css('border', '')
    $('#zip_code').css('border', '')
    $('#phone').css('border', '')
    $('#email').css('border', '')
    first_name = $('#first_name').val()
    middle_name = $('#middle_name').val()
    last_name = $('#last_name').val()
    street_address = $('#street_address').val()
    city = $('#city').val()
    state = $('#state').val()
    zip_code = $('#zip_code').val()
    phone = $('#phone').val()
    email = $('#email').val()
    birth_month = $('#birth_date_month').val()
    birth_day = $('#birth_date_day').val()
    birth_year = $('#birth_date_year').val()
    enews = $('#enews').is(':checked')
    $.post('/submit_registration.js',
      { first_name: first_name,
        middle_name: middle_name,
        last_name: last_name,
        street_address: street_address,
        city: city,
        state: state,
        zip_code: zip_code,
        phone: phone,
        email: email,
        birth_month: birth_month,
        birth_day: birth_day,
        birth_year: birth_year,
        enews: enews
      }
    )
  }

</script>