<div class="container" id="password_reset_form">
  <div class="row">
    <h1>Password Reset</h1> 
  </div>
  <div class="row mb-1">
    <p>You are requesting that your library account password be reset. After you submit this request, we will email you a link that you can use to set a new password for your account. <b>If you do not have an email address linked to your library account, you will not recieve a password reset email and will need to vist the library to reset your password.</b></p>
  </div>
  <form>
    <div class="row mb-3">
      <div class="col">
        <div class="form-group">
          <label for="card_or_username">Please Enter Your Username or Card #</label>
          <input type="text" class="form-control" id="card_or_username" placeholder="Username or Card #">
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-6">
        <button id="reset_password_button" type="button" class="btn btn-primary btn-lg btn-block" onclick="submit_password_reset()">Reset Password</button>
    </div>
    <div class="col-6">
        <button id="reset_password_button" type="button" class="btn btn-danger btn-lg btn-block" onclick="cancel_password_reset()">Cancel</button>
    </div>
  </div>
</div>

<script>
    function cancel_password_reset(){
      <% if params[:fancybox] == 'true' %>
          $.fancybox.close();
      <% else %>
          window.location = "/"
      <% end %>
    }
</script>