<div class="row">
</div>
<div class="row">
  <div id="account-menu" class="d-none d-lg-inline-block col-12 col-lg-3 mt-3">
    <%= render 'account_menu' %>
  </div>
  <div id="account-holds" class="col-12 col-lg-9 mt-3">
    <h2 class="bg-primary text-light d-inline-block d-lg-none w-100 p-2">Holds</h2>
    <%= render 'holds_list' %>
  </div>
</div>
