<% if !@user.error %>
  $('#navbar').html("<%= escape_javascript(render partial: 'navbar') %>");
  $.fancybox.close();
  $.get('/lists.json');
  <% if !@from_action.blank? %>
    <% if !@target_hold.blank? %>
      <% if @from_action == 'from_details' %>
        var traget_div = '.details-hold-button-<%= escape_javascript(@target_hold) %>'
      <% else %>
        var traget_div = '.list-hold-button-<%= escape_javascript(@target_hold) %>'
      <% end %>
        $(traget_div).find(".btn").click()
    <% else %>
      window.location = "/<%= @from_action %>"
    <% end %>
  <% end %>
<% else %>
  $('#login-message').html("<p>Error: The username or password provided was not valid. Passwords are case-sensitive. Check your Caps-Lock key and try again or contact your local library.</p>");
<% end %>
