<% if !@user.error %>
  $('#navbar').html("<%= escape_javascript(render partial: 'navbar') %>");
    <% if !@hold.error %>
      var message = 'Hold successfully placed for pickup at '
      message += '<%= escape_javascript(location_map(@user.pickup_library, "long")) %>'
      message += ' <a onclick="change_pickup()">(change pick up location)</a>'
      $('.hold-button-<%= escape_javascript(@hold.id) %>').html(message);
    <% end %>
<% end %>

