<div class="row">
  <div id="account-menu" class="col-12 col-md-3 mt-3">
    <%= render 'account_menu' %>
  </div>

  <div id="account-preferences" class="col-12 col-md-9 mt-3">
    <%= render 'account_preferences' %>
  </div><!-- #account-preferences -->
</div><!-- .row -->
<script>
  var last_number;
  var digits_trimmed;
  var element = '#edit-pref-text-notify-number';
  $(element).keyup(function(event) {
    if (event.which !== 0) {
      let test_number = $(element).val();
      let digits = test_number.replace(/\D/g, '');
      digits_trimmed = digits.replace(/^1/, '');
      if (digits_trimmed.length == 10) {
        if (last_number != digits_trimmed) {
          last_number = digits_trimmed;
          $('#text-notify-feedback').removeClass().addClass('fas fa-spinner text-muted spin').show()
          validate_sms(digits_trimmed);
        }
      }
    }
  });
  $('#edit-pref-new-password').keyup(function(event) {
    $('#new-password-note').empty();
  });
  $('#edit-pref-new-password2').keyup(function(event) {
    $('#new-password-note').empty();
  });
  $('#edit-pref-current-password').keyup(function(event) {
    $('#new-password-note').empty();
    $('#current-password-note').empty();
  });
</script>
