$primary: rgba(41,74,112,1);
$warning: rgb(240,173,78);
$info: rgb(91,192,222);
@import "cosmo/variables";
@import "bootstrap";
@import "cosmo/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.fancybox.scss";
@import "OwlCarousel2";
@import "main";
@import "registration";

