// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* navbar font size */
#navbarNav {
  font-size: 18px;
}

/* pad the searchbox */
#search_box {
  margin-top: 10px
}

/* media queries for view=grid */
/* these should be the same widths as bootstrap classes not arbitrary TODO */
@media screen and (min-width: 1px) and (max-width: 767px){
  #grid[data-columns]::before {
    content: '2 .col-6';
  }
}
@media screen and (min-width:768px) and (max-width: 1150px){
  #grid[data-columns]::before {
    content: '4 .col-sm-3';
  }
}
@media screen and (min-width:1151px) and (max-width: 9999px){
  #grid[data-columns]::before {
    content: '6 .col-md-2';
  }
}
@media screen and (min-width: 1px) and (max-width: 320px){
  #grid[data-columns]::before {
    content: '1 .col-12';
  }
}

/* get rid of the super annoying underline on hover for links! */
a:hover {
  text-decoration: none;
}

/* fix up carousels */
.owl-carousel .item img {
  max-height: 160px;
  width: auto;
}
.nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
}
.tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  height: 0;
}
.tab-content > .active {
  height: auto;
  visibility: visible;
}

/* carousel nav positioning */
.owl-prev {
  width: 35px;
  height: 100px;
  position: absolute;
  top: 12%;
  left: -40px;
  display: block !important;
  border: 0px solid black;
}
.owl-next {
  width: 35px;
  height: 100px;
  position: absolute;
  top: 12%;
  right: -40px;
  display: block !important;
  border: 0px solid black;
}
.owl-prev span, .owl-next span {
  font-size: 60px;
  transform: scale(1,4);
}

/* carousel dot numbering */
.owl-dots {
  counter-reset: dots;
}
.owl-dot:before {
  counter-increment: dots;
  content: counter(dots);
}

/* utility classes */
.item-available {
  color: #fff;
}
.img-thumbnail.item_cover {
  max-height: 64px;
  width: auto;
}
.info-block {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}


/* search options data toggle arrow */
[data-toggle="collapse"] .fa {
  //margin-left: 5px;
  font-size: 20px;
}
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

