// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* navbar font size */
#navbarNav {
  font-size: 18px;
}

/* pad the searchbox */
#search_box {
  margin-top: 10px
}

/* media queries for view=grid 
   xs: < 576px
   sm: > 576px < 768px
   md: > 768px < 992px
   lg: > 992px < 1200px
   xl: > 1200px
 */
@media screen and (min-width: 1px) and (max-width: 575px) { /* xs */
  #grid[data-columns]::before {
    content: '1 .col-12';
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) { /* sm */
  #grid[data-columns]::before {
    content: '2 .col-6';
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* md */
  #grid[data-columns]::before {
    content: '3 .col-4';
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) { /* lg */
  #grid[data-columns]::before {
    content: '4 .col-sm-3';
  }
}
@media screen and (min-width: 1200px) { /* xl */
  #grid[data-columns]::before {
    content: '6 .col-md-2';
  }
}

/* get rid of the super annoying underline on hover for links! */
a:hover {
  text-decoration: none;
}

/* fix up carousels */
.owl-carousel .item img {
  max-height: 160px;
  width: auto;
}
.nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
}
.tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  height: 0;
}
.tab-content > .active {
  height: auto;
  visibility: visible;
}

/* carousel nav positioning */
.owl-prev {
  width: 35px;
  height: 100px;
  position: absolute;
  top: 12%;
  left: -40px;
  display: block !important;
  border: 0px solid black;
}
.owl-next {
  width: 35px;
  height: 100px;
  position: absolute;
  top: 12%;
  right: -40px;
  display: block !important;
  border: 0px solid black;
}
.owl-prev span, .owl-next span {
  font-size: 60px;
  transform: scale(1,4);
}

/* carousel dot numbering */
.owl-dots {
  counter-reset: dots;
}
.owl-dot:before {
  counter-increment: dots;
  content: counter(dots);
}

/* utility classes */
.item-available {
  color: #fff;
}
.img-thumbnail.item_cover {
  max-height: 64px;
  width: auto;
}
.info-block {
  //  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.text-large {
  font-size: 20px;
}
.text-huge {
  font-size: 26px;
}

/* login form needs to be wider than default */
#login-form {
  min-width: 240px;
}

/* hide list edit boxes by default */
.new-list,
.new-note,
.edit-note,
.edit-list {
  display: none;
}

/* hide prefs edit panel by default */
#edit-prefs-panel {
  display: none;
}

/* spin class for ajax indicators */
.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* search options data toggle arrow */
[data-toggle="collapse"] .fa {
  //margin-left: 5px;
  font-size: 20px;
}
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

/* block buttons on mobile */
@media all and (max-width: 991px) {
  .btn-block-md { width: 100%; display: block; }
}

/* form feedback trickery */
.with-feedback {
  position: relative;
}
#text-notify-feedback {
  position: absolute;
  top: 10px;
  right: 25px;
  display: none;
}

/* fix ios input zooming when font size <16px */
.form-control {
  font-size: 16px;
}

.logo_index{
  max-width: 265px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.responsive_fancybox{
  max-width: 1100px;
  width: 100%;
}

.responsive_fancybox_login{
  width: 450px;
}

.fancybox-content{
  padding: 18px;
}


/* responsive fancybox class for mobile (xs to md) views */
@media screen and (min-width: 1px) and (max-width: 991px) {
  .responsive_fancybox, .responsive_fancybox_login{
    height: 100%;
    width: 100%;
    top: 0;
  }
}

/* barcode bits on mobile */
.barcode {
  max-width: 100%;
}

@media (max-width: 991px) {
  .navbar {
    overflow: auto;
    max-height: 85vh;
    align-items: flex-start;
  }
}
