// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_box{
  margin-top: 10px
}

/* fix up carousels */
.owl-carousel .item img {
  max-height: 200px;
  width: auto;
}
.owl-carousel {
  margin-bottom: 20px;
}

.nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
}

.tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  height: 0;
}

.tab-content > .active {
  height: auto;
  visibility: visible;
}

/* carousel nav positioning */
.owl-prev {
  width: 35px;
  height: 100px;
  position: absolute;
  top: 20%;
  left: -40px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 35px;
  height: 100px;
  position: absolute;
  top: 20%;
  right: -40px;
  display: block !important;
  border: 0px solid black;
}
.owl-prev i, .owl-next i {
  transform : scale(1,6);
}

/* utility classes */
.item-available {
  color: #fff;
}

