<div class="col">
  <div class="row">  
    <a class="btn btn-primary dropdown-toggle change_pickup_button" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select New Pickup Location
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% Settings.location_options_minus_all.each do |l| %>
        <a class="dropdown-item" onclick="change_pickup_location('<%= l[1] %>')"><%= l[0] %></a>
      <% end %>
    </div>
    <div class="change_pick_up_hold_id" style="display: none"></div>
    <div class="change_pick_up_record_id" style="display: none"></div>
    <div class="change_pick_up_state" style="display: none"></div>
    <div class="change_pick_up_from_action" style="display: none"></div>
  </div>
  <div class="row mt-3">
    <button class="btn btn-danger cancel_change_pickup" onclick="cancel_change_pickup()">Cancel</button>
  </div>
</div>

