<div class="row mt-3">
  <div class="col">  
    <button type="button" class="btn btn-primary dropdown-toggle change_pickup_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select New Pickup Location
    </button>
    <div class="dropdown-menu">
      <% Settings.location_options_minus_all.each do |l| %>
        <a class="dropdown-item change-pickup-link" data-pickup_location="<%= l[1] %>" onclick="change_pickup_location(this)"><%= l[0] %></a>
      <% end %>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-danger cancel_change_pickup" onclick="cancel_change_pickup(this)">Cancel</button>
  </div>
</div>

