<% if @userdetails['holds'].to_i > 0 && @userdetails['token'] != "" %>
  <div class="mb-3">
    <button type="button" class="btn btn-light" onclick="select_all()">Select All</button>
    <button type="button" class="btn btn-light disabled" onclick="bulk_edit_hold()" disabled="true">Suspend Selected</button>
    <button type="button" class="btn btn-light disabled" onclick="bulk_edit_hold()" disabled="true">Activate Selected</button>
    <button type="button" class="btn btn-light disabled" onclick="bulk_edit_hold()" disabled="true">Cancel Selected</button>
    <button type="button" class="btn btn-light" onclick="select_clear()">Clear Selection</button>
  </div>
  <% @holds.each do |hold| %>
    <%= render 'hold_item', :i => hold %>
  <% end %>
<% else %>
  <h1>You currently have no holds.</h1>
<% end %>
