<div class="row">
<div class="col-md-3">
  <% @facets.each do |f| %>
    <%= render 'facet', facet: f, search: @search%>
  <% end %>
</div>
<div class="col-md-9">
  <% items.each do |i| %>
    <%= render "item", i: i %>
  <% end %>
</div>
</div>