<% if @search.facets && @search.view != 'grid' %>
  <div class="col-md-3 mb-2" id="facets">
    <button type="button" class="btn btn-primary btn-block text-left d-block d-md-none"  data-toggle="collapse" href="#facet-block" aria-expanded="true" aria-controls="facet-block">
      Toggle Facets
      <i class="fa float-right"></i>
    </button>
    <div class="toggles show" id="facet-block">
      <% @search.facets.each do |f| %>
        <%= render 'facet', facet: f, search: @search %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @search.results && @search.view == 'list' %>
  <div class="col-md-9" id="items">
    <% @search.results.each do |i| %>
      <%= render "list_item_2", i: i %>
    <% end %>
  </div>
<% elsif @search.results && @search.view == 'grid' %>
  <div class="col-md-12" id="items">
    <div id="grid" class="row" data-columns>
      <% @search.results.each do |i| %>
        <%= render "grid_item", i: i, search: @search %>
      <% end %>
    </div>
  </div>
<% elsif @search.results && @search.view == 'simple' %>
  <div class="col-md-9">
    <table class="table"><tbody id="items">
      <% @search.results.each do |i| %>
        <%= render "simple_item", i: i, search: @search %>
      <% end %>
    </tbody></table>
  </div>
<% end %>
