<div id="search_box" class="mt-3">
  <form id="search_form" action="/search">
    <div class="col">
      <div class="form-group">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon">Search</span>
          </div>
          <input id="search_for" name="query" class="form-control" aria-describedby="search-addon" value="" placeholder="Books, movies, music &amp; more!" autocomplete='off'>
          <input type="hidden" name="type" value="keyword" />
          <input type="hidden" name="fmt" value="all" />
          <input type="hidden" name="sort" value="relevance" />
          <% if Settings.opac !=  true && cookies[:user].present? %>
            <% @userdetails = JSON.parse(cookies[:user]) %>
            <input type="hidden" name="location" value="<%= @userdetails['default_search'] %>" />
          <% else %>
            <input type="hidden" name="location" value="<%= Settings.locaiton_default %>" />
          <% end %>
          <input type="hidden" name="limit_available" value="false" />
          <input type="hidden" name="limit_physical" value="false" />
          <div class="input-group-append">
            <button id="search_button" class="btn btn-primary" type="submit" form="search_form"><span class="sr-only">Search</span><%= icon('fas', "search") %></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
