<div id="search_box" class="col">
  <form id="search_form" action="/search">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search-addon">Search</span>
            </div>
            <input id="search_for" name="query" class="form-control" aria-describedby="search-addon" value="" placeholder="Books, movies, music &amp; more!" autocomplete='off' oninput="update_search()">
            <input type="hidden" name="type" value="keyword" />
            <input type="hidden" name="fmt" value="all" />
            <input type="hidden" name="sort" value="relevance" />
            <input type="hidden" name="location" value="22" />
            <input type="hidden" name="limit_available" value="false" />
            <input type="hidden" name="limit_physical" value="false" />
            <div class="input-group-append">
              <button id="search_button" class="btn btn-primary" type="submit" form="search_form"><span class="sr-only">Search</span><%= icon('fas', "search") %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="TODO temporary breakpoint test">
    <h2 class="d-block d-sm-none">Current breakpoint: XS</h2>
    <h2 class="d-none d-sm-block d-md-none">Current breakpoint: SM</h2>
    <h2 class="d-none d-md-block d-lg-none">Current breakpoint: MD</h2>
    <h2 class="d-none d-lg-block d-xl-none">Current breakpoint: LG</h2>
    <h2 class="d-none d-xl-block">Current breakpoint: XL</h2>
  </div><!-- TODO -->
</div>
