<h2>It looks like you're using a temporary password...</h2>
<p>Please use the form below to set a new password.</p>
<p>
  <em>
    Note: The password must be at least 7 characters in length, contain at least one letter (a-z/A-Z), and contain at least one number.
  </em>
</p>
<form action='change_temp_password.js' onSubmit="return change_temp_password(this)">
  <div class="row">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <label class="sr-only" for="new_password_1">New Password</label>
      <input type="password" class="form-control" id="new_password_1" placeholder="New Password">
    </div>
  </div>
  <div class="row">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <label class="sr-only" for="new_password_2">Re-Enter New Password</label>
      <input type="password" class="form-control" id="new_password_2" placeholder="Enter New Password Again">
    </div>
  </div>
  <input type="hidden" id="temp_password">
  <input type="hidden" id="temp_from_action">
  <input type="hidden" id="temp_target_hold">
  <div class="row mb-3">
    <div class="col text-danger" id="temp_errors">
      
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button type="submit" class="btn btn-primary btn-block" id="change_temp_password-button">Update Password</button>
    </div>
  </div>
</form>