<% @items.each do |i| %>
  $("#items").append('<%= escape_javascript(render "list_item", i: i) %>')
<% end %>
<% if @list.more_results.to_s == "true" %>
  <% next_page = @list.page.to_i + 1 %>
  $("#more-items").html('<%= escape_javascript(render "more_items", list: @list, page: next_page) %>')
<% else %>
  $("#more-items").html('<h2>No more items in list.</h2>')
<% end %>
