<!DOCTYPE html>
<html>
<head>
  <title>ILSCatcher4</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>